{% if page.blog_post %}
  <ul class="navigation group">
    {% if page.previous %}
      <li class="previousPost">
        &laquo; (older)
        <a class="previousPost" rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
          {{ page.previous.title | truncate: 59 }}
        </a>
      </li>
    {% endif %}

    {% if page.next %}
      <li class="nextPost">
        <a class="nextPost" rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}">
          {{ page.next.title | truncate: 59 }}
        </a>
        (newer) &raquo;
      </li>
    {% endif %}
  </ul>
{% endif %}
